{% extends 'blog/base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}

<h1 class="mt-5 text-center">{{ object.title }}</h1>
<div class="col-1"></div>
<div class="col-12">
    <div class="mt-5 card-body">
        {% if object.image %}
        <img class="rounded float-start img-fluid" width="50%" height="200" src="{{ object.image.url }}">
        {% endif %}
        <p class="card-text">{{ object.blog_text|safe }}</p>
        <p>Дата публикации: {{ object.created_at|date:"d M Y" }}</p>
        <p>Дата публикации: {{ object.created_at|date:"d M Y" }}</p>
    </div>
    <div class="col-12 d-flex justify-content-end align-items-center">
        <div class="col-9">
            <a href="{% url 'blog:blog_update' object.pk %}" class="ms-2 btn btn-sm btn-outline-secondary">Лайки: {{ object.like }}</a>
            <a href="#" class="ms-2 btn btn-sm btn-outline-secondary">Просмотры: {{ object.view_count }}</a>
            <a href="#" class="ms-2 btn btn-sm btn-outline-secondary">Подписаться на автора</a>
        </div>
        <div class="col-3">
            <a href="{% url 'blog:blog_update' object.pk %}"
               class="ms-2 btn btn-sm btn-outline-secondary">Редактировать</a>
            <a href="{% url 'blog:blog_delete' object.pk %}" class="ms-2 btn btn-sm btn-outline-danger">Удалить</a>
            <a href="{% url 'blog:blog_list' %}" class="ms-2 btn btn-sm btn-outline-primary">Назад</a>
        </div>

    </div>
</div>
{% endblock %}