{% extends 'blog/base.html' %}

{% block title %}{% if object %}Редактирование профиля{% else %}Регистрация{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-8">
            {% if user.is_authenticated %}
            <h2>Редактирование профиля</h2>
            {% else %}
            <h2>Регистрация</h2>
            {% endif %}
            <div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">
                        {% if object %}
                        Применить
                        {% else %}
                        Зарегистрироваться
                        {% endif %}
                    </button>
                    {% if object %}
                    <a href="{% url 'users:profile' object.pk %}" class="btn btn btn-secondary " role="button">Назад</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
